body{
    background-color:#222;
    margin:0;
    font-family: Helvetica;
}

#pointers{
    position:relative;
    top:0;
    left:0;
}

.pointer{
    position:absolute;
    color:#777;
    width:10px;
    height:10px;
}

#trazos_canvas{
    background:#333;
}

#info{
    width:100%;
    font-size:0.7em;
    color:#999;
    text-transform: uppercase;
    line-height: 0.1em;
    position:fixed;
    top:0px;
    border-bottom:1px solid #666;
}

#info .data{
    float: left;
    margin-right: 20px;
}

#pallete{
    float:left;
}

#pallete .color{
    float:left;
    width:20px;
    height:20px;
    margin:5px;
    border:1px solid rgba(255,255,255,0.4)
}

.color:hover{
    opacity:0.7;
}


#pallete .white{
    background-color:rgb(255,255,255);
}

#pallete .red{
    background-color:rgb(200,40,40);
}

#pallete .green{
    background-color:rgb(40,200,90);
}

#pallete .blue{
    background-color:rgb(97,101,196);
}

#pallete .orange{
    background-color:rgb(224,165,75);
}

#pallete .violet{
    background-color:rgb(154,75,224);
}

#pallete .yellow{
    background-color:rgb(240,233,92);
}

#pallete .light_blue{
    background-color:rgb(92,199,244);
}

#pallete .aqua{
    background-color:rgb(65,221,237);
}

#pallete .black{
    background-color:rgb(0,0,0);
}
#strokes{
    float:left;
    width:100%;
    padding-top:10px;
}


.stroke{
    width:40px;
    height:10px;
    float:left;
    background-color:#666;
    margin-right:5px;
}
